@import "../lib/positions"
@import "../lib/util"
@import "../lib/css3"
@import "../lib/colors"

.toolbar
	box-sizing border-box
	fixed(top, left)
	height 80px
	width 100%
	background white
	margin 0
	padding 10px
	&.toolbar--loading .toolbar__loadIndicator
		display block
	& .toolbar__loadIndicator
		display none
		margin 0 auto
		text-align center
	& .toolbar__group
		width 33%
		inline-block()
		relative()
	& .toolbar__group--last
		width auto
	& .toolbar__group--left
		float left
	& .toolbar__group__unit
		box-sizing border-box
		height 60px
		inline-block()
		margin 0 10px
		cursor pointer
		vertical-align top
		& .toolbar__group__unit__link
			height 40px
			line-height 60px
			position relative
			inline-block()
			color black
			text-decoration none
			font-size 16px
			font-family 'Open-Sans', sans-serif
			&:hover
				color darken(success, 50%)
			& .fa
				color success
			& .toolbar__group__unit__link__img
				width 60px
				height 60px
		& .toolbar__group__unit__indicator
			text-align center
			color #e3e3e3
			z-index 999
			text-shadow 0 0 3px black
			display none
			&.toolbar__group__unit__indicator--on
				display block
			&.toolbar__group__unit__indicator--avatar
				position relative
				top -25px
				right 15px
				z-index 2
		& .toolbar__group__unit__dropDownMenu
			position absolute
			width 200px
			height 200px
			overflow-y auto
			background #e3e3e3
			border-radius(5px)
			top 70px
			right 20px
			z-index 998
			display none
			&.toolbar__group__unit__dropDownMenu--on
				display block
			&.toolbar__group__unit__dropDownMenu--avatar
				height auto
		& .toolbar__group__unit__dropDownMenu--apps
			width 350px
		& .toolbar__group__unit__link--logo
			vertical-align top
			font-size 24px
			color black
		& .toolbar__group__unit__link--avatar
			width 60px
			height 60px
			inline-block()
			relative()
			& .toolbar__group__unit__link--avatar__image
				absolute(top, left)
				border-radius(5px)
				z-index 2
		&:last-child
			margin-right 0px
		&:first-child
			margin-left 0px;
	& .toolbar__group--right
		float right
	& .toolbar__loader
		width 100%
		height 5px
		background-color darken(emerald, 20%)
		position absolute
		bottom -2px
		left 0
		z-index -1
.apps
	text-align center
	& .apps__app
		inline-block()
		padding 5px
		border-radius(3px)
		&:hover
			background success
			color white
			& i
				color white
		& .apps__app__appName
			font-family 'Open-Sans', sans-serif
		& i
			color success
	& .apps--me
		& .apps--me__menu
			list-style none
			text-align left
			padding 0
			& .apps--me__menu__option
				font-family 'Open-Sans', sans-serif
				font-size 14px
				margin 5px
				padding 5px
				border-radius 3px
				&:hover
					color white
					background-color success
.shadow_overlay
	background-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.3), 1%, rgba(0,0,0,.5), 100%)