@import "lib/normalize.css"
@import "components/toolbar"
@import "components/app"

a
	color inherit
	text-decoration none

img
	border 0
	
*
	 box-sizing border-box

html
	height 100%

body
	padding 0
	margin 0
	height 100%

.inline-block
	display inline-block

.pull-content-right
	text-align right

.fa-stack-smaller
	font-size 0.8em